@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 6px 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
a {
  text-decoration: none;
  color: rgb(69, 72, 72);
}
ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}
body {
  display: flex;
  flex-direction: column;
}
.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.buttons {
  display: flex;
  gap: 15px;
}
.footer {
  background-color: rgb(202, 199, 206);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
