/* Add CSS Styling */
.odd {
  background-color: hsla(319, 64%, 64%, 0.609);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
  color: blue;
  font-size: 36px;
}
.third {
  font-size: 24px;
}
#fourth {
  background-color: lightgreen;
  font-size: 24px;
}
